html {
    font-size: 10px;
    --pulse-font-family-principal: "Roboto", "Helvetica Neue", sans-serif;
    --pulse-font-family-secundary: "Times New Roman", Times, serif;
    --pulse-font-family-auxiliar: Arial, Helvetica, sans-serif;
}

