:root {
  /*
    Variables para sistema de grillas. los tamaños estan basados en fuente base de 10px
  */
    --pulse-max-container-width: 114rem;
    --pulse-gutter-width: 1.6rem;
    --pulse-max-container-width:  114rem;

    /*
      Variables de roptura de pantallla
    */
    --pulse-sm: 54em;
    --pulse-md: 76.8em;
    --pulse-lg: 114.0em;

  }