:root {
  /*
    Variables para sistema de grillas. los tamaños estan basados en fuente base de 10px
  */
    --pulse-max-container-width: 114rem;
    --pulse-gutter-width: .8rem;
    --pulse-padding-vertical: .2rem;

    /*
      Variables templates Nota: Se debe mover
    */
    --pulse-flowtx-header: #fff;
    --pulse-flowtx-summary: transparent;

    /* color base para sombra de tarjetas */
    --pulse-card-color: #C4D4E3;
  }